1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
3. Обратите внимание, что признак Sex имеет строковые значения.
4. Выделите целевую переменную — она записана в столбце Survived.
5. В данных есть пропущенные значения — например, для некоторых
пассажиров неизвестен их возраст. Такие записи при чтении их в
pandas принимают значение nan. Найдите все объекты, у которых
есть пропущенные признаки, и удалите их из выборки.
6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.
7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи
(в качестве ответа укажите названия признаков через запятую без
пробелов).

# 1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

dF = pd.read_csv('titanic.csv', index_col='PassengerId')

dF.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

In [3]:
dF1 = dF[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
dF1.head(5)

             Pclass     Fare   Age     Sex  Survived
PassengerId
1                 3   7.2500  22.0    male         0
2                 1  71.2833  38.0  female         1
3                 3   7.9250  26.0  female         1
4                 1  53.1000  35.0  female         1
5                 3   8.0500  35.0    male         0

# 3. Обратите внимание, что признак Sex имеет строковые значения.

In [4]:
dF1['Sex'][dF1['Sex'] == 'male'] = 1
dF1['Sex'][dF1['Sex'] == 'female'] = 0

/Users/aleksandrvasilcenko/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/aleksandrvasilcenko/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:7626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/aleksandrvasilcenko/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/aleksandrvasilcenko/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
dF1 = dF1.dropna()

In [10]:
X = dF1[['Pclass', 'Fare', 'Age', 'Sex']]
X.tail(5)

             Pclass    Fare   Age Sex
PassengerId
886               3  29.125  39.0   0
887               2  13.000  27.0   1
888               1  30.000  19.0   0
890               1  30.000  26.0   1
891               3   7.750  32.0   1

# 4. Выделите целевую переменную — она записана в столбце Survived.

In [11]:
X = dF1[['Pclass', 'Fare', 'Age', 'Sex']]
Y = dF1[['Survived']]

In [12]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)

# 5. В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [ ]:
X.dropna()

# 6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

decisionTree = DecisionTreeClassifier(random_state=241)
decisionTree

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')


# 7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую без пробелов).

In [ ]:
X.head(5)

In [ ]:
importances = clf.feature_importances_
importances

In [14]:
for name, score in zip(X, clf.feature_importances_):
     print(name, score)

Pclass 0.15052333798071368
Fare 0.3004138154595118
Age 0.24855063560153512
Sex 0.30051221095823943